<!DOCTYPE html>
<html lang="en">
<style>
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0047ab;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #add8e6;
  color: black;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Gallery</title>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../static/CSS/style1.css">

</head>

<body>
<p align="center"> <img src="../static/images/logo.png" id="logo"></p>
<ul class="nav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/profile">User Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<br>
    <!-- ##### Breadcumb Area End ##### -->
<div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div></div></div>
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Blog Area -->
                        <div class="single-blog-area mb-80">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/images/bg-img/bg5.jpg" alt="">
                                <!-- Post Date -->
                                
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Vegetarian Cheese Salad</a>
                                <p>Salad for vegans </p>
                                <a href="fusion-salad.html" class="btn delicious-btn mt-30">Go to recipe</a>
                            </div>
                        </div>

                        <!-- Single Blog Area -->
                        <div class="single-blog-area mb-80">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/images/blog-img/2.jpg" alt="">
                                <!-- Post Date -->
                                
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="fusion-coffee.html" class="post-title">Cold Coffee</a>
                                
                                <p>Cold coffee recipe for the hot summers! </p>
                                <a href="fusion-coffee.html" class="btn delicious-btn mt-30">Go to recipe</a>
                            </div>
                        </div>

                        <!-- Single Blog Area -->
                        <div class="single-blog-area mb-80">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="../static/images/blog-img/4.jpg" alt="">
                                <!-- Post Date -->
                                
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="fusion-cake.html" class="post-title">Extreme chocolate cake</a>
                                
                                <p>extreme chocolate cake for birthdays or other special occasions </p>
                                <a href="fusion-cake.html" class="btn delicious-btn mt-30">Go to recipe</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/JS/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/JS/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/JS/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/JS/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/JS/active.js"></script>
</body>

</html>