<!DOCTYPE html>
<html>
    <head>
        <title>Fusion Kitchen</title>
        <link rel="icon" href="../static/images/favicon.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/fpage.css">
    </head>
    <body>
        <div class = "container">
            <div class = "centralbox">
            <a href="/"><img src="../static/images/logo.png" id="logo"></a>
                <table>
                    <tr>
                        <td id="linbtn"><a href="/login"><button class="bttn">Login</button></a></td>
                        <td><a href="/signup"><button class="bttn">Signup</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>