<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile|Fusion Kitchen</title>

    <link rel="icon" href="../static/images/favicon.svg">

    <link rel="stylesheet" href="../static/CSS/style1.css">

</head>

<body>
<p align="center"> <a href="/"><img src="../static/images/logo.png" id="logo"></a></p>

                   <div class="row">
                    <div class="col-12 col-lg-8">
                        <br><br>
                         <p align="center" style="color: black"><img width="128 px" height="128 px" src="../static/images/user.svg" id="logo"></p>
                    <p align="center" style="color: black"><b>Name:</b> {{uname}} </p>
                    <p align="center" style="color: black"><b>Email id:</b> {{umail}}</p>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <br>
                            <p align="center"><a href="/gallery" class="btn delicious-btn">Gallery</a></p>
                            <p align="center"><a href="/" class="btn delicious-btn">Home</a></p>
                            <p align="center"><a href="/logout" class="btn delicious-btn">Logout</a></p>
                    </div>
                    </div>
                    </div>
                    


    <script src="../static/JS/jquery/jquery-2.2.4.min.js"></script>
    <script src="../static/JS/bootstrap/popper.min.js"></script>
    <script src="../static/JS/bootstrap/bootstrap.min.js"></script>
    <script src="../static/JS/plugins/plugins.js"></script>
    <script src="../static/JS/active.js"></script>
</body>

</html>